{% extends 'common/base.html' %}
{% block title %}公司简介{% endblock %}
{% block content %}
<div class="container">
<h1>
    郑州实创公司简介
</h1>
<p>
      绿之韵生物工程集团有限公司（以下简称绿之韵集团）成立于2003年， 总部位于长沙国家生物产业基地（浏阳经济技术开发区），注册资金1亿元。主营产品涵盖健康食品系列、护肤品系列、日用品系列以及健康生活等百余品种，在湖南长沙、益阳、浏阳、江苏南京、广东广州等建立了六大种植、生产基地，拥有“韵宜生”“绿韵兰茜”“享居”三大子品牌；销售网络覆盖全国大部分省市及马来西亚、印度尼西亚、南非、中国香港等国家和地区。
      绿之韵始终坚持“关爱生命，绿色产品，天然环保，质高品优”的产品理念，持续加大科研资金投入，注重培养和引进品牌、管理、研发、组织、人力资源、教育培训等多方面人才，努力将资源优势、人才优势转化为技术优势、市场优势，具有长远战略发展眼光。绿之韵集团先后与南京大学、湖南中医药大学等科研机构、院校展开战略合作，共同服务于人类健康，全力打造“产学研”成功合作典范。绿之韵始终坚持提升和完善企业价值链，不断增强核心竞争力。为此，绿之韵在长沙国家产业园区规划了一个以直销为核心的强大产业集群，围绕直销核心进行全球化、多产业、集群化发展，绿之韵斥资3亿建绿之韵科技产业园，主要规划包括绿之韵科技展示中心，保健品生产车间、产品科研中心组成。
      绿之韵系列产品在国内通过多项国际权威认证：保健食品GMP认证，ISO9001：2008国际质量管理体系认证，ISO14001：2004环境管理体系认证，ISO22000：2005食品安全管理体系认证。2010年9月，绿之韵集团获得由国家商务部颁发的直销经营许可证，成为全国第27家、中西部地区首家获得直销经营许可证的企业；2011年，绿之韵集团荣获国家科技部“高新技术企业”称号，“绿之韵”商标被国家工商总局认定为“中国驰名商标”，2013年获得国家商务部商业特许连锁经营许可证。
      凝眸历史，无尚荣光；展望未来，任重道远。今天的绿之韵，正以“大健康、大服务、大资本、大文化”为核心的品牌发展战略为基石，以“把中国最好的产品以最快的速度传递给最需要的人；运用现代科技将中华五千年养生文化及中医理论发扬光大，为解决人类亚健康服务”为努力方向，实现着绿之韵“健康、快乐、美丽、财富和家”文化为精神特质的“百年企业，世界名牌”世纪愿景！

[企业责任]
      关爱生命、造福人类是绿之韵一贯秉承的理念。绿之韵集团在发展实业的同时，积极承担社会责任，产业富民，回馈社会。捐助38所绿之韵希望学校是所有绿之韵人的夙愿。自2004年10月19日，绿之韵集团捐款18.18万元，捐助第一所绿之韵老屋希望小学以来，全国各地已先后有绿之韵沙龙希望小学、绿之韵珠山希望小学、绿之韵大桥希望学校、绿之韵后官希望小学诞生、绿之韵汶川希望小学、绿之韵惠民希望小学、绿之韵四子王旗希望小学、绿之韵湘乡月山希望学校相继建成。
      2007年5月20日，绿之韵集团与香港明星足球队携手的“善行2007三湘助学行”绿之韵杯香港明星足球队（长沙）大型公益赛在贺龙体育中心隆重进行，并向湖南省青少年发展基金会捐赠100万元设立“绿之韵文化扶贫公益基金”，用于湖南农村青少年扶贫计划和希望工程助学行动筹措资金。2008年5月，在四川汶川抗震救灾活动中，集团公司向灾区人民捐助160多万元款物。2009年，绿之韵陆续投入1000万元，开展“绿之韵树人行动”，以精神扶贫、励志教育，搭建大学生与小学生心灵互动的桥梁。同年，绿之韵发起“寻找百位100岁老人”活动，弘扬健康理念，为百岁老人送去温暖与关爱。2010年，向湖南省青年创业就业基金会捐赠100万元，更好地帮助大学生创业就业；2011年，向长沙市青少年发展基金会捐赠100万元，关注青少年的成长成才；2012年，绿之韵慈善基金与中国光华科技基金会签署300万爱心图书捐赠战略协议，开展“绿之韵爱心图书馆工程”，以“绿韵圆梦•书香助学”主题公益活动为契机，为湖南、黑龙江等省捐赠20所爱心图书馆；2013年，向中华慈善总会“贫困母亲”项目捐赠300万元……
      多年来，绿之韵集团踊跃参加和倾情捐助了多项社会慈善事业，用实际行动履行着企业应尽的责任和义务，捐助款物6700多万元帮助需要帮助的人，不遗余力地为社会贡献自己的力量。
</p>
</div>
{% endblock %}